.libraries {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.card {
  background-color: #fcfdfe;
  border: 1px solid rgb(232, 234, 238);
}

.card:hover {
  border: 1px solid var(--ifm-color-primary);
}

.cardTitle {
  margin-bottom: 8px;
  margin-top: 8px;
}

.cardDescription {
  color: var(--ifm-font-color-base);
}

[data-theme='dark'] .card {
  background-color: var(--ifm-card-background-color);
  border: 1px solid rgb(29, 33, 38);
}

[data-theme='dark'] .card:hover {
  background-color: var(--ifm-card-background-color);
  border: 1px solid var(--ifm-color-primary);
}
