.docs-h2 {
  font-size: 13px !important;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  color: #5c6870;
  border: 0;
  margin: 20px 0px 12px 8px;
  padding: 0;
  padding-bottom: 4px;
  cursor: text;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#stories {
  border-bottom: 1px solid hsla(203, 50%, 30%, 0.15);
  margin-bottom: 24px;
  padding-bottom: 8px;
}
